{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <h2 class="mb-4">Shopping Cart</h2>

    {% if items %}

    <table class="table table-bordered table-striped text-center align-middle">

        <thead class="table-dark">
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

{% for item in items %}

<tr>

    <td>
        <img src="{{ item.image }}" width="80">
    </td>

    <td>{{ item.name }}</td>

    <td>₹ {{ item.price }}</td>

    <td>

        <a href="/decrease-cart/{{ item._id }}" class="btn btn-danger btn-sm">
            -
        </a>

        <strong class="mx-2">
            {{ item.quantity }}
        </strong>

        <a href="/increase-cart/{{ item._id }}" class="btn btn-success btn-sm">
            +
        </a>

    </td>

    <td>
        ₹ {{ item.price * item.quantity }}
    </td>

    <td>

        <a href="/remove-cart/{{ item._id }}" class="btn btn-danger">
            Remove
        </a>

    </td>

</tr>

{% endfor %}

</tbody>

    </table>

    <h3 class="text-end">
        Total : ₹ {{ total }}
    </h3>

    <div class="text-end mt-3">

        <a href="/checkout" class="btn btn-success">
            Proceed To Checkout
        </a>

    </div>

    {% else %}

    <h3>Your Cart is Empty.</h3>

    {% endif %}

</div>

{% endblock %}