{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">All Products</h2>

<div class="row">

{% for product in products %}

<div class="col-md-3 mb-4">

<div class="card h-100 shadow">

<img src="{{product.image}}" class="card-img-top" height="220">

<div class="card-body">

<h5>{{product.name}}</h5>

<p>{{product.category}}</p>

<h4>₹ {{product.price}}</h4>

<a href="/product/{{product._id}}" class="btn btn-primary w-100 mb-2">
View Details
</a>

<a href="/add-to-cart/{{product._id}}" class="btn btn-success w-100">
Add to Cart
</a>

</div>

</div>

</div>

{% endfor %}

</div>

{% endblock %}